body {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 62.5%;
    max-width: 1280px;
    margin: 0 auto;
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: 900;
}

h1 {
    font-size: 6.8em;
    margin: 4px 0 4px 30px;
    letter-spacing: 0.327em;
}

h2 {
    font-size: 4.6em;
    letter-spacing: 0.029em;
    text-transform: uppercase;
    color: #02918c;
    padding: 0 40px;
}

h2:after {
    display: block;
    color: #7e8287;
    letter-spacing: 0;
    font-size: 0.35em;
    font-weight: 400;
}

.tag {
    display: block;
}

header {
    color: white;
    margin: 0 auto;
    width: inherit;
    box-sizing: border-box;
}

.top-menu {
    background-color: #02918c;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    text-transform: uppercase;
    font-weight: 900;
}

.top-menu .inner-content {
    width: available;
    max-width: 1280px;
    margin: 0 auto;
    text-align-last: justify;
}

.site-nav {
    display: inline-block;
    vertical-align: top;
}

.site-nav a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 2.6em;
    letter-spacing: 0.03em;
    padding: 13px 0 19px 50px;
}

.yellow {
    color: #cfc91d;
}

.logo:active {
    transform: scale(0.98);
}

.site-nav ul {
    margin-bottom: 8px;
}

.site-nav li {
    display: inline;
    width: 20%;
    list-style-type: none;
    font-size: 1.2em;
    line-height: 3.5em;
    letter-spacing: 0.014em;
    margin: 0 42px 0 4px;
}

.site-nav li a:hover {
    text-decoration: underline #cfc91d;
}

.site-nav li a:active {
    color: #cfc91d;
}

.intro {
    background: url("../images/header.jpg") center top;
    background-size: cover;
    margin: 61px 0 0 0;
    padding: 205px 0 210px 7px;
    text-align: center;
}

.intro p {
    font-size: 1.8em;
    letter-spacing: 0.026em;
    margin: 0;
}

.intro p:first-child {
    font-size: 3em;
}


.before-brace:after {
    content: '}';
    position: absolute;
    display: inline-block;
    height: 120px;
    font-family: 'Lato', sans-serif;
    transform: translate(-180px, 20px) rotate(90deg);
    font-size: 120px;
    font-weight: 100;
}

button {
    width: 196px;
    height: 47px;
    margin: 126px 0 0 -4px;
    border: none;
    background-color: #cfc91d;
    color: black;
    font-size: 1.4em;
    font-weight: 900;
    letter-spacing: 0.17em;
}

button:hover {
    cursor: pointer;
    color: white;
}

button:active,
header button:focus {
    outline: none;
}

button:active {
    transform: scale(0.98);
}

section {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: inherit;
    text-align: center;
}

section h3 {
    font-size: 1.6em;
    font-weight: 900;
    color: #7e8287;
}

section p {
    color: #7e8287;
    font-size: 1.6em;
}

section li p {
    font-size: 1.1em;
}

section p strong {
    font-size: 1.43em;
}

.about h2 {
    margin: 88px 0 20px 3px;
}

.about h2:after {
    content: '~~~~~~~~ :: ~~~~~~~~';
    margin-top: 19px;
}

.about > p {
    margin: 18px 0 40px 0;
    padding: 0 200px;
    line-height: 2.5em;
}

.about ul {
    position: relative;
    margin: 75px 65px 100px 60px;
    padding: 0;
}

.about li {
    display: inline-block;
    box-sizing: border-box;
    list-style-type: none;
    vertical-align: top;
    width: 25%;
    margin-right: -3px;
    padding: 20px 60px;
    border-right: 1px solid #d9dbdb;
}

.about li:last-child {
    border-right: none;
}

.about li h3:before {
    display: block;
    content: '';
    width: 33px;
    height: 34px;
    margin: 0 auto 20px;
    background: url("../images/about-sprite.png");
}

.about li:nth-child(2) h3:before {
    background-position: -50px;
}

.about li:nth-child(3) h3:before {
    background-position: -100px;
}

.about li:nth-child(4) h3:before {
    background-position: -150px;
}

.about li p {
    margin: 25px 0;
    line-height: 2em;
}

.services {
    display: table;
    background-color: #f0f0e8;
    text-align: left;
}

.services h2 {
    margin-bottom: 12px;
    padding-left: 0;
}

.services h2:after {
    content: '~~~~~ :: ~~~~~';
    margin-top: 30px;
}

.services .left > p {
    margin: 0;
    line-height: 2.5em;
}

.services .left {
    display: table-cell;
    vertical-align: top;
    padding: 27px 70px 20px 92px;
    width: 50%;
}

.services:after {
    content: '';
    background: url("../images/services.jpg") center #f0f0e8;
    background-size: cover;
    opacity: 0.3;
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

.services ul {
    position: relative;
    margin: 32px 0;
    padding: 0;
}

.services li {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    list-style-type: none;
    width: 59%;
    margin: 0 -3px 35px 0;
    padding-right: 100px;
}

.services li:nth-child(2n) {
    width: 41%;
    padding-right: 0;
}

.services li h3:before {
    display: block;
    content: '';
    width: 33px;
    height: 34px;
    background: url("../images/services-sprite.png");
    margin-bottom: 15px;
}

.services li:nth-child(2) h3:before {
    background-position: -50px;
}

.services li:nth-child(3) h3:before {
    background-position: -100px;
}

.services li:nth-child(4) h3:before {
    background-position: -150px;
}

.services ul p {
    margin: 0;
    line-height: 1.9em;
}

.services ul p:first-letter {
    text-transform: uppercase;
}

.work h2 {
    margin: 98px 0 22px 3px;
}

.work h2:after {
    content: '~~~~~ :: ~~~~~';
    margin-top: 20px;
}

.work > p {
    margin: -10px 0 70px 0;
    padding: 0 300px;
    line-height: 2.5em;
}

.photo {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 25%;
    height: min-content;
    line-height: 0;
    cursor: crosshair;
}

.photo > img {
    width: available;
    height: 100%;
}

.overlay {
    display: none;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(37, 156, 150, 0.85);
    color: white;
    text-align: center;
    margin: 20px 25px;
}

aside:before,
aside:after {
    display: block;
    content: '';
    clear: both;
}

.overlay h3 {
    color: white;
    font-size: 1.6em;
    margin-top: 24%;
}

.overlay p {
    color: white;
    font-size: 1.3em;
    line-height: 1.65em;
    margin-top: 20px;
    padding: 0 30px;
}

.photo:hover .overlay {
    display: block;
}

.contact h2 {
    margin: 88px 0 20px 3px;
}

.contact h2:after {
    content: '~~~~~ :: ~~~~~';
    margin-top: 20px;
}

.contact > p {
    margin: -6px 0 61px 0;
    line-height: 2.5em;
}

.contact form {
    background-color: #0b0b0b;
    margin: 0;
    padding: 1px 0 140px 0;
}

input,
textarea {
    display: block;
    border: none;
    background-color: #0b0b0b;
    color: #7e8287;
    font-size: 1.6em;
    text-align: center;
    padding: 0 40px;
    margin: 0 auto;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
button:focus {
    outline: none;
}

input {
    border-bottom: 1px solid #7e8287;
    width: 43%;
    margin-top: 50px;
    line-height: 3em;
}

textarea {
    overflow: auto;
    resize: none;
    background-image: linear-gradient(transparent 25px, transparent calc(42px + 3em), #7e8287 0px);
    background-size: 100% calc(41.5px + 3.1em);
    line-height: calc(42px + 3.1em);
    width: 65%;
    margin-top: 0;
    padding-top: 20px;
}

.contact button {
    margin: 45px 0 0 3px;
}

.footer {
    background-color: black;
    color: #7e8287;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 9999;
    padding: 34px 0 25px 0;
    font-size: 1.2em;
    text-align: center;
}